@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /* Text */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --soft-red: hsl(14, 88%, 65%);
  /* Gradient */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  /* Dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);

  /*Font*/
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  color: var(--very-dark-desaturated-blue);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  background-image: url("/images/bg-pattern-mobile.svg");
  background-color: white;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 20px;
  margin: 0 1.5rem;
  position: relative;
}

.box {
  display: none;
}

.hero-image {
  width: 75%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -60%);
}

section {
  margin-bottom: 4rem;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10rem;
  text-align: center;
  font-size: 2.5rem;
}

.div-question {
  border-bottom: 1px solid;
  border-color: var(--light-grayish-blue);
  font-size: 1.1rem;
  margin: 0 2rem;
  padding: 0.5rem 0;
  overflow: hidden;
}

.question-btn {
  display: flex;
  justify-content: space-between;
}

.question-toggle {
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
}

.btn {
  background: none;
  border: none;
  transition: all 0.3s;
  transform: rotate(0deg);
}

.rotate {
  transition: all 0.3s;
  transform: rotate(180deg);
}

.answer {
  color: var(--dark-grayish-blue);
  margin: 0;
  margin-bottom: 1rem;
  width: 87%;
  font-size: 12px;
  text-align: justify;
  display: none;
}

.show {
  display: block;
  animation: enter 1s ease-in;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: #74fff8;
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0);
  }
}

@media (min-width: 1024px) {
  body {
    position: relative;
  }
  main {
    display: flex;
    width: 50%;
    margin: 0 auto;
    background-image: url("/images/bg-pattern-desktop.svg");
    background-size: 105%;
    background-position-x: -540px;
    background-position-y: -225px;
    background-repeat: no-repeat;
    overflow: hidden;
    position: static;
  }

  .box {
    position: absolute;
    display: block;
    width: 10%;
    top: 43%;
    z-index: 1;
    right: 71%;
    animation: bounce 3s linear infinite;
  }

  .hero-image {
    position: static;
    width: 50%;
    height: 50%;
    margin: auto 0;
    transform: translate(-18%, 0);
  }

  section {
    margin: 5rem 0;
    width: 45%;
  }

  section h1 {
    text-align: initial;
    margin: 0;
  }

  .div-question {
    margin-left: 0;
  }

  .question:hover {
    color: var(--soft-red);
  }
}
